{{define "content" }}
<div class="position">
    <!----- main -----> 
    <article id="main">
        <div class="today_score">
            <div class="title husen_m">本日の睡眠</div>
            <div class="contents">
                <div class="topics">総睡眠時間</div>
                <div class="value">
                    <div id="sleep_all">7時間30分</div>
                </div>
                <div class="topics">就寝時間</div>
                <div class="value">
                    <div id="sleep_start">23:30</div>
                </div>
                <div class="topics">起床時間</div>
                <div class="value">
                    <div id="sleep_end">7:00</div>
                </div>
                <div class="topics">二度寝</div>
                <div class="value">
                    <div id="sleep_again">なし</div>
                </div>
            </div>
        </div>
        <div class="today_score">
            <div class="title husen_m">睡眠内容の記入</div>
            <div class="contents">
                <div class="topics">就寝時間</div>
                <div class="value">
                    <input type="number" id="sleep_start_h" value="">
                    <span>:<span>
                    <input type="number" id="sleep_start_m" value="">
                </div>
                <div class="topics">起床時間</div>
                <div class="value">
                    <input type="number" id="sleep_end_h" value="">
                    <span>:<span>
                    <input type="number" id="sleep_end_m" value="">
                </div>
                <div class="topics">二度寝</div>
                <div class="value">
                    <input type="number" id="sleep_again_h" value="">
                    <span>時間<span>
                    <input type="number" id="sleep_again_m" value="">
                    <span>分<span>
                </div>
                <input id="button1" type="button" value="記入内容を確定" onclick="sleep_calculate()">
            </div>
        </div>
        <div class="main_details">
            <div class="main_details_left">
                <div class="title husen_m">昨日の睡眠</div>
                <div class="contents">
                    <div class="topics">総睡眠時間</div>
                    <div class="value">
                        <div id="sleep_all_yd">6時間30分</div>
                    </div>
                    <div class="topics">就寝時間</div>
                    <div class="value">
                        <div id="sleep_start_yd">0:00</div>
                    </div>
                    <div class="topics">起床時間</div>
                    <div class="value">
                        <div id="sleep_end_yd">6:30</div>
                    </div>
                    <div class="topics">二度寝</div>
                    <div class="value">
                        <div id="sleep_again_yd">なし</div>
                    </div>
                </div>
            </div>
            <div class="main_details_right">
                <div class="title husen_m">獲得可能アイテム</div>
                <div class="contents">
                    <div class="topics">鉱石</div>
                    <div class="value">
                        <div class="item_details">武器強化に利用可能</div>
                    </div>
                    <div class="topics">剣</div>
                    <div class="value">
                        <div class="item_details">相手に5ダメージ</div>
                    </div>
                    <div class="topics">薬草</div>
                    <div class="value">
                        <div class="item_details">体力を20回復</div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!----- /main ----->

    <!----- aside ----->
    <aside id="aside">
        <div class="aside_topic">
            <div class="aside_title"><div class="aside_initial">M E N U</div></div>
            <div class="clip_over_background"><div class="clip_over"></div></div>
            <div class="clip_under_background"><div class="clip_under"></div></div>
            <div class="aside_lists">
                <li class="husen_s"><a href="/mypage" class="aside_item">トップ</a></li>
                <li class="husen_s"><a href="/mypage/sleep" class="aside_item">睡眠管理</a></li>
                <li class="husen_s"><a href="/mypage/training" class="aside_item">運動管理</a></li>
                <li class="husen_s"><a href="/mypage/calendar" class="aside_item">カレンダー</a></li>
                <li class="husen_s"><a href="/mypage/item" class="aside_item">アイテム一覧</a></li>
                <li class="husen_s"><a href="/mypage/setting" class="aside_item">設定</a></li>
                <li class="husen_s"><a href="/logout" class="aside_item">ログアウト</a></li>
            </div>
        </div>
    </aside>
<!----- /aside ----->
</div>
{{end}}