{{define "content" }}

<!----- /header ----->
     <!----- aside ----->
     <aside id="aside">
        <div class="aside_topic">
            <div class="aside_title"><div class="aside_initial">M E N U</div></div>
            <div class="clip_over_background"><div class="clip_over"></div></div>
            <div class="clip_under_background"><div class="clip_under"></div></div>
            <div class="aside_lists">
                <li class="husen_s"><a href="/signup" class="aside_item">サインアップ</a></li>
                <li class="husen_s"><a href="/login" class="aside_item">ログイン</a></li>
            </div>
        </div>
    </aside>
<!----- /aside ----->
</div>

{{end}}